klient do WCF/Service References/ServiceReference1/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Wcfsimplelibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Wcfsimplelibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DataContractIService1WelcomeHistory">
    <xs:sequence>
      <xs:element minOccurs="0" name="AgentAction" type="xs:boolean" />
      <xs:element minOccurs="0" name="Author" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DataContractIService1WelcomeHistory" nillable="true" type="tns:DataContractIService1WelcomeHistory" />
  <xs:complexType name="DataContractIService1SendOrder">
    <xs:sequence>
      <xs:element minOccurs="0" name="Adressinfomation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Clientname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Emailclient" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Finishorder" type="xs:boolean" />
      <xs:element minOccurs="0" name="Itemname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Optionsend" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DataContractIService1SendOrder" nillable="true" type="tns:DataContractIService1SendOrder" />
</xs:schema>