klient do WCF/Service References/ServiceReference1/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Wcfsimplelibrary/Service1/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Wcfsimplelibrary" />
  <xs:element name="WelcomeHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Wcfsimplelibrary" minOccurs="0" name="ALL" nillable="true" type="q1:DataContractIService1WelcomeHistory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WelcomeHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WelcomeHistoryResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DateReturn">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DateReturnResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DateReturnResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Wcfsimplelibrary" minOccurs="0" name="data" nillable="true" type="q2:DataContractIService1SendOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendOrderResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadText">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadTextResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReadTextResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>